body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#0f172a;
    color:white;
}

header{
    background:#1e293b;
    padding:40px;
    text-align:center;
}

nav{
    background:#020617;
    text-align:center;
    padding:10px;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#38bdf8;
}

section{
    padding:40px;
    max-width:900px;
    margin:auto;
}

h2{
    color:#38bdf8;
}

ul{
    list-style:square;
}

.card{
    background:#1e293b;
    padding:20px;
    margin:15px 0;
    border-radius:10px;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.03);
    background:#334155;
}

footer{
    background:#020617;
    text-align:center;
    padding:15px;
}
